<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionUsuarios_DatosLinq.Properties.Settings.Programacion_avanzadaConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;Programacion avanzada&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>