# ==========================================
# Archivo .gitignore estándar para .NET y MkDocs
# ==========================================

# 1. Carpetas de compilación de Visual Studio (¡Prohibido subir esto!)
[Bb]in/
[Oo]bj/

# 2. Archivos temporales y caché local de Visual Studio
.vs/
*.user
*.suo
*.dbmdl

# 3. Archivos compilados del manual de MkDocs
site/

# 4. Basura del sistema operativo
.DS_Store
Thumbs.db